@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: color-palette.$light-green-700,
  $secondary: color-palette.$grey-700,
  $background: color-palette.$grey-900,
  $surface: color-palette.$grey-100,
  $error: color-palette.$red-900,
  $on-primary: color-palette.$grey-100,
  $on-secondary: color-palette.$grey-200,
  // $on-surface: color-palette.$grey-200,
  // $on-error : black,
);

@use '@material/theme/styles';

@use '@material/layout-grid/index' as layout-grid with (
  $breakpoints: (
    desktop: 1024px,
    tablet: 768px,
    phone: 0px,
  )
);

@forward '@material/theme/index';
