@use 'smui-theme';
@use '@material/typography/_mixins' as typography-mixins;
@use 'variables.scss' as variables;
@use '@material/shape/_variables.scss' as shape-variables;
@use '@material/fab/_variables.scss' as fab-variables;

@import 'tippy.js/animations/shift-away';

div[data-tippy-root] {
  max-width: calc(100% - 5px) !important;

  .tippy-box {
    @include typography-mixins.typography(body2);

    background-color: smui-theme.$secondary;
    color: smui-theme.$on-secondary;
    padding: 10px;
    border-radius: shape-variables.$small-component-radius;
  }
}

.jdev-route-about {
  .jdev-philosophy-hint {
    text-align: center;
    font-style: italic;
  }

  .jdev-philosophy-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    @media #{variables.$breakpoint-desktop} {
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 20px;
    }
  }

  .jdev-fab-buttons {
    flex-wrap: wrap;
    min-height: 250px;

    .jdev-fab-wrapper {
      --mdc-theme-secondary: var(--mdc-theme-primary);
      margin: 0 2px;

      .mdc-fab--extended {
        cursor: default;
        padding: 0 20px 0 0;

        > span.background {
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          height: fab-variables.$extended-height;
          width: fab-variables.$extended-height;
          margin-right: 20px;
        }
      }
    }
  }
}
