@use "smui-theme";
@use "@material/drawer/_variables.scss";
@use "@material/drawer/_mixins.scss";

.mdc-drawer .mdc-deprecated-list-item__graphic > svg {
  fill: rgba(smui-theme.$background, 0.6);
}

.mdc-drawer .mdc-deprecated-list-item--activated .mdc-deprecated-list-item__graphic > svg {
  fill: smui-theme.$primary;
}

.jdev-cursor-pointer {
  cursor: pointer;
}

.jdev-list-item {
  margin: (variables.$list-item-spacing * 2) 8px;
  padding: 0 calc(variables.$surface-padding / 2);
  display: flex;
}

.jdev-language-select {
  width: 30px;
  height: 22px;
  user-select: none;

  &.active {
    opacity: 0.5;
    filter: grayscale(1);
  }

  &:not(.active) {
    cursor: pointer;
  }

  .jdev-flag {
    background-size: 30px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    &.en {
      background-image: url('../media/images/flags/en.svg');
    }
  
    &.de {
      background-image: url('../media/images/flags/de.svg');
    }
  }

  +.jdev-language-select {
    margin-left: 2px;
  }
}

.jdev-animation-toggle {
  color: inherit;
}

.mdc-deprecated-list-divider {
  @include mixins.border-color(variables.$divider-color);
}
