@use "smui-theme";
@import "@material/typography/mdc-typography";
@import "@material/layout-grid/mdc-layout-grid.scss";
@import "@material/top-app-bar/variables";
// @import "@smui/snackbar";

body {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.mdc-top-app-bar__section {
  flex: 1 1 0;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.mdc-drawer {
  height: 100vh;
}

.mdc-drawer .mdc-list-divider {
  border-bottom-color: smui-theme.$grey-300;
}

.main-content {
  height: 100%;

  > div {
    // overflow: auto;
    // height: 100%;
    max-width: calc(1240px - 255px);
    margin: 0 auto;
    position: relative;
  }
}

@import 'src/assets/style/variables.scss';

.jfd-d-desktop-none,
.jdev-d-desktop-none {
  @media #{$breakpoint-desktop} {
    display: none;
  }
}

.jfd-d-tablet-none,
.jdev-d-tablet-none {
  @media #{$breakpoint-tablet} {
    display: none;
  }
}

.jfd-d-mobile-none,
.jdev-d-mobile-none {
  @media #{$breakpoint-mobile} {
    display: none;
  }
}

.jdev-avatar {
  margin: 0 auto;

  @media #{$breakpoint-tablet} {
    margin: 0;
    margin-left: 12px;
  }

  @media #{$breakpoint-desktop} {
    margin: 0;
    margin-left: 12px;
  }

  width: calc(1.5 * #{$mdc-top-app-bar-dense-row-height});
  height: calc(1.5 * #{$mdc-top-app-bar-dense-row-height});
  border: 2px solid #{smui-theme.$primary};
  border-radius: 50%;

  > div {
    width: calc(1.5 * #{$mdc-top-app-bar-dense-row-height} - 4px);
    height: calc(1.5 * #{$mdc-top-app-bar-dense-row-height} - 4px);
    border-radius: 50%;
    border: 2px solid #{smui-theme.$on-primary};
    background-size: contain;
  }
}
