@use 'smui-theme';
@use '@material/top-app-bar/variables' as top-app-bar-variables;
@use 'src/assets/style/variables.scss' as variables;

@use '@material/typography/mdc-typography.scss';
@use '@material/layout-grid/mdc-layout-grid.scss';

.mdc-top-app-bar__section {
  flex: 1 1 0;

  &.section-left {
    @media #{variables.$breakpoint-mobile} {
      flex: 0 0 auto;
    }
  }
}

.mdc-drawer-app-content {
  flex: auto;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  position: relative;
  height: calc(100% - #{top-app-bar-variables.$dense-row-height});
}

.mdc-drawer {
  height: 100vh;
  position: fixed;
}

.mdc-drawer .mdc-list-divider {
  border-bottom-color: smui-theme.$grey-300;
}

.main-content {
  > div {
    // overflow: auto;
    // height: 100%;
    background-color: #fff;
    max-width: calc(1240px - 255px);
    margin: 0 auto;
    position: relative;
  }
}

.jfd-d-desktop-none,
.jdev-d-desktop-none {
  @media #{variables.$breakpoint-desktop} {
    display: none;
  }
}

.jfd-d-tablet-none,
.jdev-d-tablet-none {
  @media #{variables.$breakpoint-tablet} {
    display: none;
  }
}

.jfd-d-mobile-none,
.jdev-d-mobile-none {
  @media #{variables.$breakpoint-mobile} {
    display: none;
  }
}

.jdev-avatar {
  width: calc(1.5 * #{top-app-bar-variables.$dense-row-height});
  height: calc(1.5 * #{top-app-bar-variables.$dense-row-height});
  border: 2px solid #{smui-theme.$primary};
  border-radius: 50%;
  background-color: #{smui-theme.$primary};

  > div {
    width: calc(1.5 * #{top-app-bar-variables.$dense-row-height} - 4px);
    height: calc(1.5 * #{top-app-bar-variables.$dense-row-height} - 4px);
    border-radius: 50%;
    border: 2px solid #{smui-theme.$on-primary};
    background-size: contain;
    cursor: pointer;
  }
}
