@use 'smui-theme';
@use '@material/drawer/_variables.scss' as drawer-variables;
@use '@material/shape/_variables.scss' as shape-variables;
@use '@material/top-app-bar/_variables.scss' as top-app-bar-variables;
@use 'variables.scss' as variables;
@use '@material/typography/mixins.scss' as typography-mixins;

.jdev-route-home {
  min-height: calc(100vh - #{top-app-bar-variables.$dense-row-height});
  display: flex;
  align-items: center;

  .jdev-home-links {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .jdev-knowledge-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    > div.logo {
      position: absolute;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      height: 90%;
      width: 80%;
      left: 10%;
      animation: flipX 3s linear;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-play-state: paused;
      will-change: transform, opacity;

      &.animation-active {
        animation-play-state: running;
      }
    }

    @each $tech, $bg in variables.$home-tech-bg {
      &.#{$tech} > div.logo {
        background-image: $bg;
      }
    }

    position: relative;
    height: 32vh;
    overflow: hidden;

    @media #{variables.$breakpoint-mobile} {
      height: 20vh;
    }
  }

  @keyframes flipX {
    0% {
      opacity: 0;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    }

    // 10% {
    //   opacity: 0;
    //   -webkit-transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    //   transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    // }

    20% {
      opacity: 1;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
    }

    80% {
      opacity: 1;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
    }

    // 90% {
    //   opacity: 0;
    //   -webkit-transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    //   transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    // }

    100% {
      opacity: 0;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    }
  }

  .jdev-intro-text {
    text-align: center;

    b {
      transition: all 2s;
    }

    @each $tech in variables.$home-tech-list {
      &.#{$tech} b {
        color: map-get(variables.$tech-colors, #{$tech}-primary);
        text-shadow: 1px 1px 2px map-get(variables.$tech-colors, #{$tech}-secondary);
      }
    }

    img {
      max-height: 300px;
    }
  }

  .home-routes {
    @each $tech in variables.$home-tech-list {
      &.#{$tech} .mdc-fab {
        background-color: map-get(variables.$tech-colors, #{$tech}-secondary);
      }
    }

    a {
      color: inherit;
      text-decoration-color: inherit;
      text-decoration-line: none;
    }

    width: 46%;
    margin-left: 1%;
    margin-right: 1%;

    .mdc-fab {
      height: 48px;
      border-radius: 24px;
      width: 100%;
      padding: 0;
      background-color: smui-theme.$primary;
      transition: background-color 2s;
      justify-content: flex-start;

      .material-icons {
        font-size: 52px;
        width: 52px;
        height: 52px;
        margin-left: 0px;

        > svg {
          fill: smui-theme.$on-primary;
        }
      }

      .mdc-fab__label {
        white-space: normal;
        text-align: start;
        width: 100%;

        @include typography-mixins.typography(subtitle2);

        color: smui-theme.$on-primary;
      }
    }
  }
}
