@use "smui-theme";
@import "@material/drawer/_variables.scss";
@import "@material/shape/_variables.scss";
@import "@material/top-app-bar/_variables.scss";
@import 'src/assets/style/variables.scss';
@import "@material/typography/mdc-typography";

.jdev-route-home {
  min-height: calc(100vh - #{$mdc-top-app-bar-dense-row-height});
  display: flex;
  align-items: center;

  .jdev-knowledge-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    > div.logo {
      position: absolute;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      height: 30vh;
      width: 80%;
      left: 10%;
      animation: flipX 4s linear;
      animation-iteration-count: 1;
      animation-fill-mode: both;
      animation-play-state: paused;

      &.animation-active {
        animation-play-state: running;
      }
    }

    &.vue > div.logo { background-image: url('../media/images/knowledge-logos/vuejs.png'); }
    &.docker > div.logo { background-image: url('../media/images/knowledge-logos/docker.png'); }
    &.javascript > div.logo { background-image: url('../media/images/knowledge-logos/javascript.png'); }
    &.node > div.logo { background-image: url('../media/images/knowledge-logos/node.png'); }
    &.php > div.logo { background-image: url('../media/images/knowledge-logos/php.png'); }
    &.svelte > div.logo { background-image: url('../media/images/knowledge-logos/svelte.png'); }
    &.wordpress > div.logo { background-image: url('../media/images/knowledge-logos/wp.png'); }
    &.git > div.logo { background-image: url('../media/images/knowledge-logos/git.png'); }

    position: relative;
    height: 32vh;
    overflow: hidden;

    @media #{$breakpoint-mobile} {
      height: 20vh;
    }
  }

  @keyframes flipX {
    0% {
      opacity: 0;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    }

    // 10% {
    //   opacity: 0;
    //   -webkit-transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    //   transform: perspective(400px) translateZ(0) rotateX(90deg) scale(1);
    // }

    20% {
      opacity: 1;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
    }

    80% {
      opacity: 1;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(0) scale(1);
    }

    // 90% {
    //   opacity: 0;
    //   -webkit-transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    //   transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    // }

    100% {
      opacity: 0;
      -webkit-transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
      transform: perspective(400px) translateZ(0) rotateX(-90deg) scale(1);
    }
  }

  .jdev-intro-text {
    text-align: center;

    b {
      transition: all 2s;
    }

    &.vue b { color: $vue-primary-color; text-shadow: 1px 1px 2px $vue-secondary-color; }
    &.php b { color: $php-primary-color; text-shadow: 1px 1px 2px $php-secondary-color; }
    &.javascript b { color: $javascript-primary-color; text-shadow: 1px 1px 2px $javascript-secondary-color; }
    &.docker b { color: $docker-primary-color; text-shadow: 1px 1px 2px $docker-secondary-color; }
    &.svelte b { color: $svelte-primary-color; text-shadow: 1px 1px 2px $svelte-secondary-color; }
    &.wordpress b { color: $wp-primary-color; text-shadow: 1px 1px 2px $wp-primary-color; }
    &.node b { color: $node-primary-color; text-shadow: 1px 1px 2px $node-secondary-color; }
    &.git b { color: $git-primary-color; text-shadow: 1px 1px 2px $git-secondary-color; }

    img {
      max-height: 300px;
    }
  }

  .home-routes {
    &.vue .mdc-chip { background-color: $vue-secondary-color; }
    &.php .mdc-chip { background-color: $php-secondary-color; }
    &.javascript .mdc-chip { background-color: $javascript-secondary-color; }
    &.docker .mdc-chip { background-color: $docker-primary-color; }
    &.svelte .mdc-chip { background-color: $svelte-secondary-color; }
    &.wordpress .mdc-chip { background-color: $wp-primary-color; }
    &.node .mdc-chip { background-color: $node-secondary-color; }
    &.git .mdc-chip { background-color: $git-secondary-color; }

    width: 46%;
    margin-left: 1%;
    margin-right: 1%;

    .mdc-chip {
      height: 48px;
      border-radius: 24px;
      width: 100%;
      padding: 0;
      background-color: smui-theme.$primary;
      transition: background-color 2s;

      .image {
        width: 44px;
        height: 44px;
        background-size: cover;
        border-radius: 44px;
        margin-left: 2px;
        margin-right: 2px;
        flex: 0 0 44px;
      }

      .material-icons {
        font-size: 52px;
        width: 52px;
        height: 52px;
        margin-left: -2px;
        color: smui-theme.$on-primary;
      }

      .mdc-chip__text {
        white-space: normal;
        text-align: center;
        width: 100%;

        @include mdc-typography(subtitle2);

        color: smui-theme.$on-primary;
      }
    }
  }
}
