@import "_smui-theme.scss";

.jdev-route-projects {
  overflow-x: hidden;

  .card-media-16x9 {
    background-size: cover;

    &.nwoun {
      background-image: url('../media/images/projects/logo-un-500.jpg');
    }
  }

  .jdev-card-headline {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  .jdev-card-subtitle {
    margin: 0;
    color: $mdc-theme-primary;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mdc-card {
    position: relative;
  }

  .jdev-project-hover-content {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(230, 230, 230, 0.95);
    // background: linear-gradient(0deg, rgba(230,230,230,0) 0%, rgba(230,230,230,0.8) 30%, rgba(230,230,230,0.95) 100%);

    span {
      text-align: center;
    }

    a {
      font-weight: bold;
      color: $mdc-theme-primary;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
