@use 'smui-theme';
@use 'assets/style/variables.scss' as variables;
@use '@material/image-list/index' as image-list;

@import '@smui/image-list/_index.scss';
@import '@smui/list/_index.scss';
@import '@smui/fab/_index.scss';
@import '@smui/linear-progress/_index.scss';

@import 'glightbox/dist/css/glightbox';

.jdev-route-project {
  --mdc-theme-text-primary-on-background: rgb(0, 0, 0);
  --mdc-theme-text-secondary-on-background: hsla(0, 0%, 0%, 0.7);
  --mdc-theme-text-icon-on-background: hsla(0, 0%, 0%, 0.5);

  .jdev-project-image-list {
    @include image-list.standard-columns(5);
    @include image-list.aspect(calc(4 / 3));

    @media #{variables.$breakpoint-tablet} {
      @include image-list.standard-columns(3);
    }

    @media #{variables.$breakpoint-mobile} {
      @include image-list.standard-columns(2);
    }

    .mdc-image-list__image {
      background-size: cover;
    }
  }

  // --mdc-theme-text-icon-on-background: #{smui-theme.$text-primary-on-background};
  // --mdc-theme-text-primary-on-background: #{smui-theme.$text-primary-on-background};
  // --mdc-theme-text-secondary-on-background: #{smui-theme.$text-secondary-on-background};

  .mdc-list-item,
  .mdc-deprecated-list-item {
    animation-fill-mode: both;
    animation-duration: var(--jdev-highlights-animation-duration, 500ms);
    animation-name: bounceInRight;
    animation-timing-function: ease-out;
  }

  .mdc-image-list__image {
    animation-name: zoomIn;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    animation-duration: var(--jdev-gallery-animation-duration, 500ms);
    cursor: pointer;
  }

  .jdev-project-banner {
    height: 10vh;
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @media #{variables.$breakpoint-desktop} {
      height: 20vh;
    }
  }

  .material-icons > svg {
    fill: var(--mdc-theme-text-icon-on-background);
  }

  pointer-events: none;
  transform-origin: top center;

  &.initialized {
    transition: transform 0.5s ease-in-out;
    pointer-events: all;
    overflow-y: auto;
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(var(--jdev-transition-x-right, 3000px), 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }

  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }

  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
