@use "smui-theme";
@use 'src/assets/style/variables.scss';

.jdev-route-resume {
  a {
    font-weight: bold;
    color: smui-theme.$primary;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }

  .jdev-resume-date {
    @media #{variables.$breakpoint-mobile} {
      background-color: smui-theme.$surface;
    }

    @media #{variables.$breakpoint-tablet} {
      background-color: smui-theme.$surface;
    }
  }

  .jdev-resume-content {
    @media #{variables.$breakpoint-mobile} {
      margin-left: 10vw;
    }

    @media #{variables.$breakpoint-tablet} {
      margin-left: 10vw;
    }
  }
}
