// make sure these match the values in config/index

$breakpoint-mobile: "(max-width: 599px)";
$breakpoint-tablet: "(min-width: 600px) and (max-width: 839px)";
$breakpoint-desktop: "(min-width: 840px)";
