// make sure these match the values in config/index

$breakpoint-mobile: "(max-width: 767px)";
$breakpoint-tablet: "(min-width: 768px) and (max-width: 1023px)";
$breakpoint-desktop: "(min-width: 1024px)";

$php-primary-color: #787cb5;
$php-secondary-color: #0b0b0b;
$java-primary-color: #e27006;
$java-secondary-color: #8ca9ba;
$javascript-primary-color: #f7df1e;
$javascript-secondary-color: #000;
$sql-primary-color: #349adc;
$sql-secondary-color: #fff;
$csharp-primary-color: #813084;
$csharp-secondary-color: #9a4993;
$html-primary-color: #f16529;
$html-secondary-color: #ebebeb;
$css-primary-color: #29a9df;
$css-secondary-color: #4bb5e3;
$bootstrap-primary-color: #563d7c;
$bootstrap-secondary-color: #fff;
$node-primary-color: #72aa62;
$node-secondary-color: #333;
$jquery-primary-color: #0769ad;
$jquery-secondary-color: #333;
$laravel-primary-color: #fc5642;
$laravel-secondary-color: #343434;
$material-primary-color: #757575;
$material-secondary-color: #bdbdbd;
$phpbb-primary-color: #167db8;
$phpbb-secondary-color: #acd0e6;
$svelte-primary-color: #ff3e00;
$svelte-secondary-color: #4a4a55;
$titus-primary-color: #eb2526;
$titus-secondary-color: #231f20;
$vue-primary-color: #41b883;
$vue-secondary-color: #34495e;
$wp-primary-color: #464342;
$wp-secondary-color: #fff;
$babel-primary-color: #f9dc3e;
$babel-secondary-color: #79703e;
$eslint-primary-color: #4b32c3;
$eslint-secondary-color: #8080f2;
$express-primary-color: #99cb60;
$express-secondary-color: #f7de1f;
$jest-primary-color: #a04e5b;
$jest-secondary-color: #dabbbf;
$npm-primary-color: #cb3837;
$npm-secondary-color: #e28f8f;
$webpack-primary-color: #8ed6fb;
$webpack-secondary-color: #1c78c0;
$docker-primary-color: #2496ed;
$docker-secondary-color: #b9defa;
$git-primary-color: #f05133;
$git-secondary-color: #413000;
$jira-primary-color: #156fea;
$jira-secondary-color: #253858;
$mysql-primary-color: #f39e24;
$mysql-secondary-color: #057992;
$photoshop-primary-color: #070034;
$photoshop-secondary-color: #a0cbfe;
$sentry-primary-color: #221f20;
$sentry-secondary-color: #fff;
$vscode-primary-color: #0a85d1;
$vscode-secondary-color: #38a9f2;
$bulma-primary-color: #00d1b2;
$bulma-secondary-color: #000000;
$vite-primary-color: #aa4cff;
$vite-secondary-color: #ffc31b;
$qwik-primary-color: #534adb;
$qwik-secondary-color: #009bff;
$i18next-primary-color: #26a69a;
$i18next-secondary-color: #034f42;
$tailwind-primary-color: #35bef8;
$tailwind-secondary-color: #0f172a;

$h2-margin: 0.83em;

$skill-progress-height: 40px;
