.jdev-resume-date.svelte-8xkpt0,.jdev-resume-content.svelte-8xkpt0{opacity:hidden}.jdev-resume-date.visible.svelte-8xkpt0,.jdev-resume-content.visible.svelte-8xkpt0{visibility:visible}
.mdc-typography--headline6.svelte-13ucwhc{text-align:center;border-bottom:1px solid #000;cursor:pointer;justify-content:space-between;align-items:center;display:flex}
